{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <div class="row">
	        <h1 class="text-center">Search for an Event</h1>
			<div class="centered">
		    <form method="get" action="">


			            {{ form.as_p }}
            </div>

		        {% if query %}
		            <h2>Results</h2>

		            {% for result in page.object_list %}
		                <div class="table-bordered">
		                    <h3><a target="_blank" href="{{ result.object.event_url }}">{{ result.object.event_name }}</a></h3>
			                <p class="btn"><strong>Status</strong>: {{ result.object.status | capfirst}}</p>
		                    <p><strong>Source</strong>: {{ result.object.source }} | <strong>Date</strong>: {{ result.object.start_dateTime }}</p>
		                    <p><strong>Description</strong>: {{ result.object.description }}</p>
		                    {% if event.lat == 0.0 and event.lon == 0.0 and event.city == 'Not Available'  %}
			                    <p>Lat and Lon are not available</p>
			                {% elif event.lat == 0.0 and event.lon == 0.0 %}
			                    <p>City: {{ result.object.city }}</p>
		                    {% else %}
			                    <p>City: {{ result.object.city }}</p>
		                        <p>Lat: {{ result.object.lat }} | Lon: {{ result.object.lon }}</p>
		                    {% endif %}

		                </div>
		            {% empty %}
		                <p>No results found.</p>
		            {% endfor %}

		            {% if page.has_previous or page.has_next %}
		                <div>
		                    {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
		                    |
		                    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
		                </div>
		            {% endif %}
		        {% else %}
		            {# Show some example queries to run, maybe query syntax, something else? #}
		        {% endif %}
		    </form>
        </div>
    </div>
{% endblock %}
