{% load staticfiles %}
{% load compress %}

<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<meta name="description" content="Event curation through user interests.">
<link rel="icon" type="image/png" href="#" />
<link rel="author" href="http://www.bondandme.com" />
<link rel="publisher" href="http://www.bondandme.com"/>
<meta name="geo.region" content="US-CA" />
<meta name="geo.placename" content="San Francisco" />

<title>{% block title %}{% endblock title %}</title>
{#{% compress css %}#}
<!-- Custom CSS -->
<link href="{% static 'stylesheets/bootstrap.css' %}" rel="stylesheet">
<link href="{% static 'stylesheets/font-awesome.min.css' %}" rel="stylesheet">
<link href="{% static 'stylesheets/carousel.css' %}" rel="stylesheet">
<link href="{% static 'stylesheets/custom.css' %}" rel="stylesheet">
{#{% endcompress css %}#}
{% compress js %}
<script src="{% static 'js/jquery-1.11.0.min.js' %}"></script>
<script src="{% static 'js/modernizr.custom.14652.js' %}"></script>
<script src="{% static 'js/oauth.min.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
{% endcompress js %}
<script type="text/javascript">
    if (window.location.hash && window.location.hash == '#_=_') {
        window.location.hash = '';
    }
</script>

{% block head %}
	<script src="{% static 'js/picturefill.js' %}" async></script>
{% endblock head %}
</head>

<body id="home">

{% include 'navbar.html' %}
<div class="spacing-buffer"></div>
<div class="header-image">

	{% block headline %}

    {% endblock headline %}

</div><!-- /header-image -->



	<!-- START THE FEATURETTES -->
	{% block carousel %}

    {% endblock carousel %}

    {% block message %}

    {% endblock message %}

	{% block content %}

    {% endblock content %}

    {% block content_two %}

    {% endblock content_two %}


    {% block end_script %}


    {% endblock end_script %}


	<!-- /END THE FEATURETTES -->

	<!-- FOOTER -->
    <div class="footer">
        <div class="container">
            {% include 'footer.html' %}
        </div>
    </div>
    <!-- /END OF FOOTER -->



<!-- javascript -->
{#<script src="{% static 'js/jquery.js' %}"></script>#}


<!-- Custom SCRIPT -->
{% block script %}

{% endblock script %}


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-54078693-1', 'auto');
  ga('send', 'pageview');

</script>

</body>

</html>