<footer>
{#    <ul class="social">#}
{#        <li><a href="https://www.facebook.com/prodigalsunmate" title="Become a fan on Facebook!"><i class="icon-facebook"></i></a></li>#}
{#        <li><a href="https://twitter.com/ProdigalSunMate" title="Follus us on Twitter!"><i class="icon-twitter"></i></a></li>#}
{#        <li><a href="https://plus.google.com/102687232516451060399/posts" title="Add us on Google+!"><i class="icon-google-plus"></i></a></li>#}
{#    </ul>#}
    <div class="spacing-buffer"></div>
{#    <hr class="featurette-divider">#}

    <p>
        <span class="pull-left text-muted">Copyright &copy {% now "Y" %} | Bond and Me Inc. All Right Reserved</span>
        <span class="pull-right text-muted">
	        <a href="//www.iubenda.com/privacy-policy/805249" class="iubenda-nostyle no-brand iub-legal-only iubenda-embed" title="Privacy Policy">Privacy Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src = "//cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script> |  <a href="https://github.com/masterfung">Designed by @masterfung</a></span>
    </p>
</footer>