{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}
Bond
{% endblock title %}

{% block head %}
	<script>
			// Picture element HTML shim|v it for old IE (pairs with Picturefill.js)
			document.createElement( "picture" );
	</script>
	{{ block.super }}

{% endblock head %}

{% block carousel %}

    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
{#	      <picture alt="Main Carousel Image">#}
{#		      <source srcset="{% static 'img/main-slide.jpg' %}" media="(min-width: 1200px)">#}
{#	      </picture>#}
          <img srcset="{% static 'img/main-slide.jpg' %}" media="(min-width: 1200px)" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1 class="title-heading-style">Personalized Events. <br> Every Time</h1>
              <p>Find your next best friend!</p>
              <p><a class="btn btn-large btn-primary" href="{% url 'login' %}" role="button">Sign up today</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="{% static 'img/main-slide2.jpg' %}" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1 class="title-heading-style">Bond's Philosophical Roots</h1>
              <p>Know Bond's grassroot. Our Theory of Drive speaks how inspiration is the precurisor to motivation.</p>
              <p><a class="btn btn-large btn-primary" href="{% url 'whyus' %}" role="button">Learn Bond's Approach</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img  src="{% static 'img/main-slide3.jpg' %}" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1 class="title-heading-style">Bond, Exclusively Yours</h1>
              <p>We love events as much as you do. However, Bond curates events exclusively for you.</p>
              <p><a class="btn btn-large btn-primary" href="{% url 'about' %}" role="button">Learn about Bond</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control adjustment" href="#myCarousel" role="button" data-slide="prev"><i class="fa fa-chevron-circle-left push-from-top"></i></a>
      <a class="right carousel-control adjustment" href="#myCarousel" role="button" data-slide="next"><i class="fa fa-chevron-circle-right push-from-top"></i></a>
    </div><!-- /.carousel -->


{% endblock carousel %}


{% block content %}
	<div class="row"><img class="img-responsive img-hold" src="{% static 'img/second-cover.jpg' %}" alt="community bonding"/></div>
    <div class="bond-docs-feature">

        <h1 class="title-heading-style">Redefine Your Community (BOND)</h1>
        <div class="container">
            <p class="paragraph-emphasized">
            Bring your curiosity. We will do the rest!
            </p>
        </div>
    </div>

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
    <div class="spacing-buffer"></div>
    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="{% static 'img/discussion.png' %}" alt="Discussion" style="width: 140px; height: 140px;">
          <h2>Conversation</h2>
          <p>Invest in yourself and attend our curated events to find your next best friend!</p>
          <p><a class="btn btn-default" href="{% url 'login' %}" role="button">Learn something new &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="{% static 'img/interaction.png' %}" alt="Generic placeholder image" style="width: 140px; height: 140px;">
          <h2>Interaction</h2>
          <p>Share, learn, create, and recycle. The necessary process to grow. Let Bond help you.</p>
          <p><a class="btn btn-default" href="{% url 'login' %}" role="button">Make new connections &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="{% static 'img/motivation.png' %}" alt="Generic placeholder image" style="width: 140px; height: 140px;">
          <h2>Motivation</h2>
          <p>Bond believes in the innate concept that inspiration is the precursor to motivation.</p>
          <p><a class="btn btn-default" href="{% url 'login' %}" role="button">Discover new frontiers &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
    </div>

    <div class="spacing-buffer"></div>

   <div class="bond-highlight">
    <h1>We Simplify Event Findings!</h1>
        <div class="container">
            <p class="paragraph-secondary-emphasized">
                We live in a diverse world of deep-rooted cultures and practices.
	            Within the event space, there are so many noise. How do we pick the best events?
	            Finding great community is challenging and we believe we have a solution.
	            We take what you love most and curate a set of events that best resonate your tunes.
	            In fact, we can do it on-demand. However, we will once-in-awhile through you some
	            experimental events.
            </p>
        </div>
    </div>

    <div class="spacing-buffer"></div>

      <!-- START THE FEATURETTES -->

    <div class="container marketing">
{##}
{#      <hr class="featurette-divider">#}

{#      <div class="row featurette">#}
{#        <div class="col-md-7">#}
{#          <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>#}
{#          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>#}
{#        </div>#}
{#        <div class="col-md-5">#}
{#          <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">#}
{#        </div>#}
{#      </div>#}

{#      <hr class="featurette-divider">#}

{#      <div class="row featurette">#}
{#        <div class="col-md-5">#}
{#          <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">#}
{#        </div>#}
{#        <div class="col-md-7">#}
{#          <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>#}
{#          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>#}
{#        </div>#}
{#      </div>#}

{#      <hr class="featurette-divider">#}

{#      <div class="row featurette">#}
{#        <div class="col-md-7">#}
{#          <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>#}
{#          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>#}
{#        </div>#}
{#        <div class="col-md-5">#}
{#          <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">#}
{#        </div>#}
{#      </div>#}

{#      <hr class="featurette-divider">#}
    </div>

      <!-- /END THE FEATURETTES -->

{% endblock content %}

