{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
	Settings
{% endblock %}

{% block content %}
<div class="spacing-buffer"></div>

<div class="container">
	<div class="row col-lg-6">
        <h2 class="text-center">Event Preferences & Notifications</h2>

			<h3>Profile Settings</h3>
			<form method="post" action=".">
				{% csrf_token %}
				<div class="form-group">
					{{ profile_form.as_p }}
				</div>
				<div class="centered">
					<input class="btn btn-default btn-large" type="submit" name="notification" value="submit">
				</div>
			</form>

	</div>
    <div class="row col-lg-6">

		<h2 class="text-center">Interest</h2>
        <p class="text-center">Add your favorite interests so you can quickly access your events in your city.</p>
        <ul class="centered">
            {% for interest in interests %}
                <a class="userChoice btn btn-default" href="/apps/search/?q={{ interest.name }}+{{ user.city }}">{{ interest.name }}</a>

            {% endfor %}
        </ul>

        <!-- Button trigger modal -->
		<div class="centering-box">
			<div class="row centered">
				<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#addNewInterest">
					Add New Interest
				</button>
		        <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#deleteInterest">
					Delete An Interest
				</button>
			</div>
		</div>
        <div class="spacing-buffer"></div>
	    <hr/>
    </div>

	<div class="spacing-buffer"></div>
	<div class="row col-lg-6">
		<h2 class="text-center">Favorite Cities</h2>
		<p class="text-center">Traveling soon? Plan ahead and add your cities to find out what is going on.</p>
		<ul class="centered">
            {% for city in cities %}
                <a class="userChoice btn btn-default" href="/apps/search/?q={{ city.name }}">{{ city.name }}</a>
            {% endfor %}
        </ul>

		<div class="centering-box">
			<div class="row centered">
				<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#addNewCity">
					Add New City
				</button>
		        <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#deleteCity">
					Delete A City
				</button>
			</div>
		</div>
	</div>
		<!-- Modal -->
		<div class="modal fade" id="addNewInterest" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
			    <form method="post">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		        <h4 class="modal-title" id="myModalLabel">Add New Interest</h4>
		      </div>
		      <div class="modal-body">
	                {% csrf_token %}
	                {{ interest_form.as_p }}
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        <input type="submit" value="Add New Interest" class="btn btn-primary" name="interest">
		      </div>
			    </form>
		    </div>
		  </div>
		</div>

        <div class="modal fade" id="deleteInterest" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		        <h4 class="modal-title" id="myModalLabel">Delete Interest</h4>
			    <p>Click on any interest to delete.</p>
		      </div>
		      <div class="modal-body centered">

					{% for interest in interests %}
                        <a class="userChoice btn btn-default" href="{% url 'delete_interest' interest.id %}">{{ interest.name }}</a>
                    {% endfor %}

		      </div>
		    </div>
		  </div>
		</div>

		<div class="modal fade" id="addNewCity" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
			    <form method="post">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		        <h4 class="modal-title" id="myModalLabel">Add New City</h4>
		      </div>
		      <div class="modal-body">
	                {% csrf_token %}
	                {{ city_form.as_p }}
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        <input type="submit" value="Add New City" class="btn btn-primary" name="city">
		      </div>
			    </form>
		    </div>
		  </div>
		</div>

		<div class="modal fade" id="deleteCity" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		        <h4 class="modal-title" id="myModalLabel">Delete A City</h4>
			    <p>Click on any city to delete.</p>
		      </div>
		      <div class="modal-body centered">

				{% for city in cities %}
                    <a class="userChoice btn btn-default" href="{% url 'delete_city' city.id %}">{{ city.name }}</a>
                {% endfor %}

		      </div>
		    </div>
		  </div>
		</div>
</div>


		<!-- Modal Ends-->
{% endblock %}