{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}
{% load djangular_tags %}

{% block title %}
Profile
{% endblock title %}

{% block message %}
<div class="container">
    <div class="row">
        <h1 class="text-center title-heading-style">Welcome
        {% if user.first_name == '' %}
	        Awesome Individual!
        {% else %}
	        {{ user.first_name }}!
        {% endif %}
        </h1>

        <p class="text-center">Your current time: <br/> {% now "jS F Y H:i" %}</p>
        <div class="spacing-buffer"></div>
    </div>
</div>
{% endblock message %}

{% block content %}

	{% if user.wellness_score >= 1 %}

		<div class="eventListings">

		<h2 class="text-center">We are working on making the best event curation. Check back in the future!</h2>

		</div>

	{% else %}

		<div class="eventListings">

		<h2 class="text-center">Please fill out the Get Started Survey before event curation can begin.</h2>
		<div class="spacing-buffer"></div>
		<div class="container table-bordered">
		<div class="row buffer">
			<div class="col-lg-6 col-offset-3">
		        <h2 class="getting-started text-center">Getting Started</h2>
				<p class="text-center">In order to make the best event personalization, please start the quest below.</p>
				<a href="{% url 'getting_started' %}" class="start-btn btn btn-large btn-primary">Start the Quest</a>

		    </div>

			</div>
		</div>
		</div>

	{% endif %}

	<div class="container">
		<div class="row">
			<h2>Some Events in Your City:</h2>
			{% for event in city_event %}
				<h4><a target="_blank" href="{{ event.event_url }}">{{ event.event_name }}</a></h4>
			{% endfor %}
		</div>
	</div>


{% endblock content %}


{#{% url "view_interest" interest.id %}#}