{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}
{% load djangular_tags %}
{% load time_tags %}
{% load tz %}

{% block title %}
Profile
{% endblock title %}

{% block message %}
<div class="container">
    <div class="row">
        <div class="spacing-buffer"></div>
        <div class="centered">
    	    <img class="img-responsive" src="http://graph.facebook.com/{{ user.fib }}/picture?type=large" alt="Profile Image"/>
        </div>
        <h1 class="text-center title-heading-style">Welcome
        {% if user.first_name == '' %}
	        Awesome Individual!
        {% else %}
	        {{ user.first_name }}!
        {% endif %}
        </h1>
		<p class="text-center">Your current city is: <a href="{% url 'settings' %}">{{ user.city }}</a></p>

{#		{% localtime on %}#}
{#		    The local time is {{ object.date }}#}
{#		{% endlocaltime %}#}
{#        <p class="text-center">Your current time: <br/> {% now "jS F Y g:iA" %}</p>#}


		<form action="{% url 'profile' %}" method="POST">
		    {% csrf_token %}
		    <label for="timezone">Time zone:</label>
		    <select name="timezone">
		        {% for tz in timezones %}
		        <option value="{{ tz }}"{% if tz == TIME_ZONE %} selected="selected"{% endif %}>{{ tz }}</option>
		        {% endfor %}
		    </select>
		    <input class="btn btn-primary" type="submit" value="Set" />
		</form>

        <p class="text-center">Your current time:
	        {% localtime on %}
			    {{ value }}
			{% endlocaltime %}
	        <br/>
		{{ value|localtime }}
        </p>

        <div class="spacing-buffer"></div>
    </div>
</div>
{% endblock message %}

{% block content %}
<div class="container">

	{% if user.wellness_score >= 1 %}

		<div class="eventListings">


		</div>

	{% else %}

		<div class="eventListings">

		<h2 class="text-center">Please fill out the Get Started Survey before event curation can begin.</h2>
		<div class="spacing-buffer"></div>
		<div class="container table-bordered">
		<div class="row buffer">
			<div class="col-lg-6 col-offset-3">
		        <h2 class="getting-started text-center">Getting Started</h2>
				<p class="text-center">In order to make the best event personalization, please start the quest below.</p>
				<a href="{% url 'getting_started' %}" class="start-btn btn btn-large btn-primary">Start the Quest</a>

		    </div>

			</div>
		</div>
		</div>

	{% endif %}

	<div class="col-lg-6 table-bordered">
		<h2>Event Curation</h2>
		{% if user.personal_score >= 10 and user.food_score == 3 and user.wellness_score > 4 and user.community_score > 4 and user.education_score == 3 %}
			{% for event in food %}
			<h4><a target="_blank" href="{{ event.event_url }}">{{ event.event_name }}</a></h4>
				<p>Source: {{ event.source }} | Date: {{ event.start_dateTime | date:"DATETIME_FORMAT" }}</p>
{#				<p>Source: {{ event.source }} | Date: {% localize_time event.start_dateTime %}</p>#}
				<p>{{ event.description | truncatechars:100  }}</p>
				<hr/>
			{% endfor %}
			{% for event in personal %}
				<h4><a target="_blank" href="{{ event.event_url }}">{{ event.event_name }}</a></h4>
				<p>Source: {{ event.source }} | Date: {{ event.start_dateTime | date:"DATETIME_FORMAT" }}</p>
				<p>{{ event.description | truncatechars:100  }}</p>
				<hr/>
			{% endfor %}
			{% for event in community %}
				<h4><a target="_blank" href="{{ event.event_url }}">{{ event.event_name }}</a></h4>
				<p>Source: {{ event.source }} | Date: {{ event.start_dateTime | date:"DATETIME_FORMAT" }}</p>
				<p>{{ event.description | truncatechars:100  }}</p>
				<hr/>
			{% endfor %}
			{% for event in wellness %}
				<h4><a target="_blank" href="{{ event.event_url }}">{{ event.event_name }}</a></h4>
				<p>Source: {{ event.source }} | Date: {{ event.start_dateTime | date:"DATETIME_FORMAT" }}</p>
				<p>{{ event.description | truncatechars:100  }}</p>
				<hr/>
			{% endfor %}
			{% for event in education %}
				<h4><a target="_blank" href="{{ event.event_url }}">{{ event.event_name }}</a></h4>
				<p>Source: {{ event.source }} | Date: {{ event.start_dateTime | date:"DATETIME_FORMAT" }}</p>
				<p>{{ event.description | truncatechars:100  }}</p>
				<hr/>
			{% endfor %}
		{% elif user.personal_score > 10 and user.food_score == 1 or user.wellness_score == 2 %}
			{% for event in personal %}
				<h4><a target="_blank" href="{{ event.event_url }}">{{ event.event_name }}</a></h4>
				<p>Source: {{ event.source }} | Date: {{ event.start_dateTime | date:"DATETIME_FORMAT" }}</p>
				<p>{{ event.description | truncatechars:100  }}</p>
				<hr/>
			{% endfor %}
			{% for event in wellness %}
				<h4><a target="_blank" href="{{ event.event_url }}">{{ event.event_name }}</a></h4>
				<p>Source: {{ event.source }} | Date: {{ event.start_dateTime | date:"DATETIME_FORMAT" }}</p>
				<p>{{ event.description | truncatechars:100  }}</p>
				<hr/>
			{% endfor %}
		{% elif user.personal_score > 7 and user.food_score == 2 %}
			{% for event in personal %}
				<h4><a target="_blank" href="{{ event.event_url }}">{{ event.event_name }}</a></h4>
				<p>Source: {{ event.source }} | Date: {{ event.start_dateTime | date:"DATETIME_FORMAT" }}</p>
				<p>{{ event.description | truncatechars:100  }}</p>
				<hr/>
			{% endfor %}
		{% elif user.personal_score > 5 and user.food_score == 1 %}
			{% for event in personal %}
				<h4><a target="_blank" href="{{ event.event_url }}">{{ event.event_name }}</a></h4>
				<p>Source: {{ event.source }} | Date: {{ event.start_dateTime | date:"DATETIME_FORMAT" }}</p>
				<p>{{ event.description | truncatechars:100  }}</p>
				<hr/>
			{% endfor %}
		{% else %}
			<h2 class="text-center">Awaiting {{ user.first_name | capfirst}} to finish survey before we can supply kick-ass events.</h2>
		{% endif %}
	</div>

	<div class="col-lg-6">
		<h2>Upcoming Events in {{ user.city }}:</h2>

			{% for event in city_event %}

				{% if event.description == None %}

				{% else %}
					<h4><a target="_blank" href="{{ event.event_url }}">{{ event.event_name }}</a></h4>
					<p>Source: {{ event.source }} | Date: {{ event.start_dateTime| date:"DATETIME_FORMAT" }}</p>
					<p>{{ event.description | truncatechars:150  }}</p>
					<hr/>
				{% endif %}

			{% endfor %}

	</div>

</div>


{% endblock content %}


{#{% url "view_interest" interest.id %}#}