{% extends 'base.html' %}
{% load i18n %}

{% block title %}
About Us
{% endblock title %}


{% block content %}
<div class="bond-docs-masthead">
    <h1>About Bond</h1>
    <div class="container">
        <h3>
        Bond knows having best friends rock! Bond knows finding great events is challenging.
	    Bond knows how to join your interests and location together to
	    relationships. Bond knows that
        today's individuals live a transient world and it is important to take your
	    interests whereever you go. No matter what city you are at, Bond got you covered
        on great events. Let our event curation be the start of your new inspiration. 
        </h3>
    </div>
</div>
{% endblock content %}