{% extends 'base.html' %}
{% load i18n %}

{% block title %}
About Us
{% endblock title %}


{% block content %}
<div class="bond-docs-masthead">
    <h1>About Bond</h1>
    <div class="container">
        <h3>
        Roll Studio is a renowned digital production company specialising in the front
        and backend of website production and digital services. With a reputation
        for being experienced, reliable, methodical, and passionate, we have been
        trusted by some of the largest names in the business for over 8 years.
        Creativity is a core tenant of our work, and such we offer a full digital
        service and can supply development to projects in need of quality programming.
        </h3>
    </div>
</div>
{% endblock content %}