{% extends 'base.html' %}
{% load i18n %}

{% block title %}
Why Us?
{% endblock title %}


{% block content %}
<div class="bond-docs-masthead">
    <h1>The Theory of Drive</h1>
    <h5>We love Ah-Ha moments!</h5>

</div>

    <div class="container">
    <div class="row">
        <h1>Features</h1>
        <h2>
            Features Descriptions
        </h2>
        <p>
        It's easy to set: Just drag to pick a wake up time.
        Turn the alarm on or off with a simple swipe or pull gesture.
        Snooze or turn off the alarm from the lock screen with a shake (iPhone only).
        Large clock mode in portrait and landscape for docked devices.
        Adjust your default snooze, wake up time, and alarm volume on the fly.
        Wake up to one of the beautiful custom Rise melodies or your favorite song from iTunes.
        You can repeat your alarm time daily (one alarm).
        Make a playlist from iTunes to help you fall asleep, or listen to other audio (Pandora, Spotify, etc) in the background.
        Rise works with "Do Not Disturb" and the mute / silence switch (with app in foreground and locked/asleep).
        A few more surprises to come!
        Supported Languages

        Chinese
        Dutch
        English
        German
        Hungarian
        Korean
        Polish
        Portuguese
        Russian
        Spanish
        Swedish
    </p>
    </div>
    </div>
{% endblock content %}