{% extends 'base.html'%}
{% load i18n %}
{% load staticfiles %}

{% block title %}
Events
{% endblock title %}

{% block head %}
    <script src=""></script>
{% endblock head %}

{% block first %}
    <h1 class="text-center">Events</h1>
	<p class="text-center">Search for an interest:</p>
{% endblock first %}

{% block content %}
    <form type="get" action="."> {% csrf_token %}
    <input type="text" name="q">
    <button type="submit">Search</button>
	</form>

	{% for event in events %}
	<h1>{{ event.event_name }}</h1>
	<p>
	    {{ event.description }}
	</p>
{% endfor %}

{% endblock content %}